bin
bin/*
build
build/*
build-cache
test-output
jitwatch.out
.java-version
.DS_Store
.classpath
.settings
.project
.gradle
.idea
*.iml
target
**/hs_err_pid*.log
**/replay_pid*.log
**/caffeine.log
/build/*
/.gradle/*
/wiki/*
*.classpath*
*.settings*
*.project*

/caffeine/build/*
/caffeine/bin/*
/caffeine/.classpath
/caffeine/.project
/caffeine/.settings/*

/guava/bin/*
/guava/.classpath
/guava/.project
/guava/.settings/*

/jcache/bin/*
/jcache/.classpath
/jcache/.project
/jcache/.settings/*

/simulator/src/main/resources/com/github/benmanes/caffeine/cache/simulator/parser/*
/simulator/target/*
/simulator/target/.settings
/simulator/.gradle/*
/simulator/build/*
/simulator/bin/*
/simulator/.apt_generated_tests/*
/simulator/.apt_generated/*
/simulator/.project
/simulator/.classpath
/simulator/results/‏‏F1.C16K.HB10.Lru.res
simulator/results/F1.C16K.HB10.Lru.res
/simulator/scarab.recs.trace.20160808T073231Z.xz.txt
